[DataEngineering-zoomcamp-2024/docker_sql/.ipynb_checkpoints/Untitled-checkpoint.ipynb
DataEngineering-zoomcamp-2024/docker_sql/yellow_tripdata_2021-07.csv.gz
DataEngineering-zoomcamp-2024/docker_sql/my_taxi_postgres_data/extract_folder/file.csv
DataEngineering-zoomcamp-2024/docker_sql/ny-taxi-volume/pg_stat_tmp/db_0.stat
DataEngineering-zoomcamp-2024/docker_sql/ny-taxi-volume/pg_stat_tmp/db_16384.stat
DataEngineering-zoomcamp-2024/docker_sql/ny-taxi-volume/postmaster.pid
DataEngineering-zoomcamp-2024/docker_sql/ny-taxi-volume/global/pg_control
DataEngineering-zoomcamp-2024/docker_sql/ny-taxi-volume/pg_stat_tmp/db_13780.stat
DataEngineering-zoomcamp-2024/docker_sql/ny-taxi-volume/
DataEngineering-zoomcamp-2024/docker_sql/Fetching_and Inserting_Data.ipynb
DataEngineering-zoomcamp-2024/docker_sql/Week1-Homework/file.csv
DataEngineering-zoomcamp-2024/Week-2-Workflow-Orchestration/zoomcamp-mage/magic-zoomcamp/io_config.yaml
DataEngineering-zoomcamp-2024/Week-2-Workflow-Orchestration/zoomcamp-mage/magic-zoomcamp/io_config.yaml
DataEngineering-zoomcamp-2024/Week-3-Data-Warehouse/.env
DataEngineering-zoomcamp-2024/batch-processing/new_mage_project_connect.pem
