*.ipynb,*.csv filter=lfs diff=lfs merge=lfs -text
path/to/Fetching_and[[:space:]]Inserting_Data.ipynb filter=lfs diff=lfs merge=lfs -text
Fetching_and[[:space:]]Inserting_Data.ipynb filter=lfs diff=lfs merge=lfs -text
